

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/*Navbar*/

.navbar{
    position:absolute;
    width: 100%;
    height: 100px;
    z-index: 999;
    padding: 20px 20px 0 0;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #f4f6f7;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    padding-left: 30px;
    
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fcf7f7;
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    padding: auto;
    transition: color 0.3s ease;
    font-family: 'Dancing Script', cursive;
    
}

.navbar .menu li a:hover{
    color: #e5fd09;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}   

/* home page */

.banner{
    background: url("https://getwallpapers.com/wallpaper/full/f/b/b/193424.jpg") no-repeat center;
    height: 100vh;
    text-align: center;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-heading{
    color: #fc0b1f;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    text-shadow: 1px 1px 2px rgb(8, 74, 150), 0 0 25px rgb(13, 3, 105), 0 0 5px rgb(21, 6, 236);
}

.info{
    background-color: #e1e9c471;
    border-radius: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"]{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Inconsolata', monospace;
}
input[type="text"]{
    width: 95%;
}
input[type="date"]{
    width: 30%;
}
input[type="number"]{
    width: 40%;
}
input[type="submit"]{
    background-color: #bbeb0d;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-family: 'Inconsolata', monospace;
}
input[type="submit"]:hover{
    background-color: #ece904;
}

/* home2 */

.services{
    background-color: #ffffff;
    /*  height: 50vh; */
    align-items: center;
}
.services .service-item{
    background-color: white;
    float: left;
    margin: 20px;
    height: auto;
    align-content: center;
    text-align: center;
    margin-top: 50px;
}
.services_container{
    display: flex;
    justify-content: space-around;
}
.services .service-item p{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: small;
    
}

#logo{
    height: 100px;
    width: 100px;
    background-color: white;
}


/* package */

.package{
    background-color: white;    
    color: rgb(12, 11, 11);
    margin: 40px;
}

.package #packagetitle{
    /* margin-top: 40px; */
    text-align: center;
    font-size: 70px;
    font-family: 'Concert One', cursive;
    color: rgb(18, 109, 66);
    text-shadow: 1px 1px 2px rgb(34, 90, 153), 0 0 25px rgb(147, 161, 175), 0 0 5px rgb(241, 241, 241);
}

.package .card2{
    background-color: rgb(243, 239, 239);
    width: 30%;
    float: left;
    margin: 21px;
    height: auto;
    align-content: center;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 10%;
    height: 500px;
    box-shadow: 1px 1px 2px rgb(95, 93, 93), 0 0 25px rgb(165, 165, 167), 0 0 5px rgb(240, 240, 241);
    transform: rotate(5deg);
    border-radius: 5px;
}

.checked {
    margin-top: 15px;
    color: orange;
  }
.package h4{
    padding-top: 30px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}
.package p{
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(10, 150, 168);
}
#img{
    max-width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 5px;
}

/* overview */


.overview .overview1 p{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #58262a;
    text-align: justify;
    margin: 30px;
}
.head_overview{
    font-family: 'Lobster', cursive;
    color: #fc0b1f;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
#over{
    float: left;
    margin: 10px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(95, 93, 93), 0 0 25px rgb(165, 165, 167), 0 0 5px rgb(240, 240, 241);
}

.overview h3{
    font-family: 'Concert One', cursive;
    font-size: 70px;
    color: rgb(10, 116, 116);
    font-weight: 1000;
    margin: 40px;
    text-align: center;
}

.overview1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

.overview1 .overcontainer2{
    padding: 30px;
} 

.footer{
    padding: 10px;
    width: 100%;
    background-color: black;
    /* height: 50px; */
}

.foot_container{
    display: flex;
    justify-content: center;
    align-content: bottom;
    color: whitesmoke;

}
/* responsive */

@media all and (max-width: 1270px) {
    
    .banner-text-item .form input,
    .banner-text-item .form .date,
    .banner-text-item .form a {
      flex: 1;
      margin-bottom: 5px;
      font-size: 14px;
    }
    .banner-text-item .form input {
      width: 90%;
    }
    .banner-text-item .form .date {
      width: 90%;
    }
    .banner-text-item .form .book {
      width: 90%;
      font-size: 14px;
    }
    .banner-heading h1 {
      font-size: 80px;
    }

    .navbar {
      display: flex;
      justify-content: center;
      /* align-items: center; */
      width: 100%;
      height: auto;
      text-align: center;
      /* position: static; */
    }
    .logo {
      flex: 1;
      font-size: 30px;
      margin: 10px auto;
      font-family: Satisfy;
      color: #3f15d4;
    }
    .navbar ul {
        display: none;
    }
    .navbar ul li {
      flex: 1;
      margin-bottom: 5px;
      font-size: 14px;
    }
    .services {
      display: flex;
      flex-flow: column wrap;
    }
    .services .service-item {
      flex: 1;
      margin-bottom: auto;
      width: 46%;
    }
    .package #packagetitle {
      font-size: 70px;
      text-align: center;
    }

    .package .packages .card2{
        width: 50%;
        margin-left: 5%;
    }

    .overview .overview1 p{
        font-size: 15.5px;
    }
    
    .overview .overview1 h3{
        font-size: 40px;
    }
    
  }
 
  @media all and (max-width: 840px) {
   

    .package .packages .card2{
        margin-left: 200px;
    }

    .overview .overview1 p{
        font-size: 15.5px;

    }
    .overview .overview1 h3{
        font-size: 40px;
    }
    
  }
  @media all and (max-width: 840px){
    .overview #over{
        margin-left: 150px;
        float: none;
        max-height: 300px;
        width: 500px;
    }
  }

  @media all and (max-width: 775px){
    .overview #over{
        margin-left: 150px;
        float: none;
        max-height: 300px;
        width: 500px;
    }
  }

  @media all and (max-width: 760px){

    .package #packagetitle {
        font-size: 70px;
    }
    .package .card2{
        margin-left: auto;
    }

    .overview #over{
        margin-left: 120px;
        float: none;
        max-height: 300px;
        width: 500px;
    }
  }
  @media all and (max-width: 720px){
    .overview #over{
        margin-left: 80px;
        float: none;
        max-height: 300px;
        width: 500px;
    }
  }
  @media all and (max-width: 580px) {
    .package .title{
        font-size: 40px;
    }
    .card2{
        align-items: center;
        width: auto;
    }
    
    .overview #over{
        display: none;
    }
  }
  @media all and (max-width: 580px) {
    .navbar .logo a{
        font-size: 25px;
      }
    .banner-heading h1 {
        font-size: 40px;
    }
    .services .service-item {
        flex: 1;
        margin-bottom: auto;
        width: 100%;
    }
    .package #packagetitle {
        margin-top: 350px;
        font-size: 40px;
    }
    .package .packages .card2{
        width: 70%;
        margin-left: 15%;
    }
    .overview h3{
        font-size: 10px;
    }
    .footer{
        font-size: 23px;
    }
  }